tensorboard
cmake 
onnx
clip-retrieval
img2dataset
opencv-contrib-python-headless
pyyaml
Pillow
mss
timm
dataclasses
ftfy
regex
fasttext
scikit-learn
lvis
nltk
#git+https://github.com/openai/CLIP.git
#git+https://github.com/facebookresearch/detectron2.git
fiftyone
filterpy
kserve
piexif
paho-mqtt
fairscale
thop
easydict
lap
tqdm
ipython
sentry-sdk
psutil
discorpy