tensorboard
cmake 
onnx
clip-retrieval
img2dataset
opencv-contrib-python-headless
pyyaml==5.1
Pillow
mss
timm
dataclasses
ftfy
regex
fasttext
scikit-learn
lvis
nltk
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git
fiftyone
filterpy
kserve==0.7.0
piexif
paho-mqtt
fairscale
thop
easydict
lap
tqdm
ipython
sentry-sdk
psutil